@import 'tailwindcss';

@theme {
  --color-primary: #ffb400;
}

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #ffb400;
  --border-color: #252525;
}

body {
  min-height: 100vh;
  color: #fff;
  background-color: #111;
}

.scrollbar-custom {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
  }
  &::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
  }
}
